<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Queen Attack</title>
</head>
<body>
    <div class = 'container'>
        <h1>Queen Attack</h1>
        <h2>Can she attack from there?</h2>
        <h3>{{ coordinates }}</h3>
        <a href='/'>main page</a>
    </div>
</body>
</html>
