<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Queen Attack</title>
</head>
<body>
    <div class = 'container'>
        <h1>Queen Attack</h1>
        <h3>Using the given coordinates, would the player be outside the Queen's line of sight?</h3>
        <form action=/attack role= 'form' class =n 'form-inline'>
            <div class = 'form-group'>
                <!-- <div class='col-xs-2 col-xs-offset-2'> -->
                    <label for='xp'>Player:</label>
                    <input id='xp' name='xp' class='form-control' type='number' placeholder='X'>
                    <input id='yp' name='yp' class='form-control' type='number' placeholder='Y'>
                <!-- </div> -->
            </div>
            <div class = 'form-group'>
                <!-- <div class='col-xs-2 col-xs-offset-1'> -->
                    <label for='xq'>Queen:</label>
                    <input id='xq' name='xq' class='form-control' type='number' placeholder='X'>
                    <input id='yq' name='yq' class='form-control' type='number' placeholder='Y'>
                <!-- </div> -->
            </div>
            <!-- <div class='col-xs-4 col-xs-offset-4'> -->
                <button type='submit' class='btn-success'>Check</button>
            <!-- </div> -->
        </form>
    </div>
</body>
</html>
